
  <form #searchUsers="ngForm" (ngSubmit)="search(searchUsers)" class="mt-5">
    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
      <div class="grid grid-cols-3 gap-6">
        <div class="col-span-3 sm:col-span-2">
          <label
            for="company-website"
            class="block text-sm font-medium text-gray-700"
          >
         
  
            <div *ngIf="test">
              <p class="font-black dark:text-white">No se encontro ningun usuario.</p>
              
            </div>
          </label>
          <div class="mt-1 flex rounded-md shadow-sm">
            
            <input
              type="text"
              name="search"
              [(ngModel)]="dataSearchUsers.searchers"
              id="searchsuer"
              [formControl]="searchTime"
              class="input focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
              placeholder="Cristian Zayas"
              required
            />
          
            <button
              type="submit"
              class="mx-3 mx-text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              [disabled]="!searchTime.valid"
            >
              Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- Finish search-->
  
  
  
  <!-- Best table responsive -->
  
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow-md sm:rounded-lg">
          <table class="min-w-full">
            <thead class="bg-gray-50 dark:bg-gray-700">
              <tr>
                <th
                  scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"
                >
                  Name
                </th>
                <th
                  scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"
                >
                LasTName Father
                </th>
                <th
                  scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"
                >
                LasTName Mother
                </th>
                <th
                  scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"
                >
                Direction
                </th>
                <th
                  scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400"
                >
                Phone
                </th>
                <th 
                scope="col"
                  class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                  <span class="sr-only">+ options</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let AllUsers of showAllUsers" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td
                  class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                {{ AllUsers.name }}
                </td>
                <td
                  class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400"
                >
                {{ AllUsers.lastNameFather }}
                </td>
                <td
                  class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400"
                >
                {{ AllUsers.lastNameMother }}
                </td>
                <td
                  class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400"
                >
                {{ AllUsers.Direction }}
                </td>
                <td
                  class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400"
                >
                {{ AllUsers.phone }}
                </td>
                <td
                  class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap"
                >
                <a
                [routerLink]="['update/edit/', AllUsers._id]"
                class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                id="{{ AllUsers._id }}"
                data-modal-toggle="61de4a2a3e257e27b057be20"
                >Edit
              </a>
              <a
                href="#"
                class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
                id="{{ AllUsers._id }}"
                (click)="deleteUser(AllUsers._id)"
                data-modal-toggle="#modalAllUsers._id"
                >Delete
              </a>
                </td>
              </tr>
  
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
